body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f5f7; 
}

.radio-group label b {
  font-size: 16px;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px; /* Aumentado para comportar as colunas */
  text-align: center;
  border: 1px solid #e0e0e0; 
}
#title {
  font-size: 22px;
  text-align: center;
}
h2 {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(6, 44, 53);
}

.prazo {
  text-align: center;
}

input[type="radio"] {
  margin-right: 5px;
}

.radio-group {
  display: inline-block;
  gap: 10px;
  margin-bottom: 20px;
  text-align: left; /* Alinhamento dos rótulos */
}

.radio-group div {
  display: flex;
  margin: 5px;
  align-content: flex-start;
}

.radio-group label {
  font-size: 14px;
  color: rgb(71, 71, 71);
}

button {
  background-color: rgb(6, 44, 53);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Mover o botão para baixo das opções */
}

button:hover {
  background-color: rgb(0, 35, 44);
}

.results {
  display: none;
  background-color: #f0f0f0;
  color: rgb(71, 71, 71);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: left;
  border: 1px solid #e0e0e0; 
}

.column-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.column {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .column-container {
      flex-direction: column;
  }

  .column {
      margin-bottom: 10px;
  }

  .container {
      width: 90%;
  }
}

.column h4 {
  margin-top: 0;
  font-size: 16px;
  color: rgb(6, 44, 53);
}


